body {
    background-color: white;
    margin: 0px;
}

.company_name {
    text-align: center;
    margin: auto;
    width: 80%;
}

.company_name h1 {
    display: block;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    text-align: center;
    color: white;
    background-color: rgb(220, 46, 220);
    border-style: solid;
    border-color: rgb(220, 46, 220);
}

.dotted {
    color: rgb(193, 42, 193);
}

img {
    border-radius: 80%;
}

.meet h2 {
    text-align: center;
}

.meet h1 {
    display: block;
    text-align: center;

    margin: auto;
    width: 40%;
    text-align: center;
    border-width: 1em;
    color: white;
    border-radius: 5px;
    background-color: rgb(193, 42, 193);
}

#founder {
    width: 45%;
    font-weight: bolder;
    text-align: center;
    float: left;
}

figcaption p {
    color: rgb(220, 46, 220);
}

#ceo {
    text-align: center;
    font-weight: bolder;
}

#VP {
    text-align: center;
    margin: auto;
}

#development {
    text-align: center;
    margin: auto;
}

.development_details {
    text-align: center;
    margin: auto;
}

.marketing {
    text-align: center;
    margin: auto;
}

.divider {
    float: inline-end;
    text-align: right;
    border-radius: 0px;
    height: 55px;
    overflow: auto;

}

.divider-1 {
    transform: rotate(180deg);
    border-radius: 0px;
    height: 55px;
    overflow: auto;

}